params {
    
    reads_dir       = "$baseDir/data/NGS"
    reference_dir   = "$baseDir/data/references" 
    results_dir     = "$baseDir/results"
    illumina_suffix = '_illumina'
    nanopore_suffix = '_ont'
    fhir_validator  = 'tools/fhir-validator.jar'
    clinical_metadata = "$baseDir/data/clinical_metadata.csv"
    version         = "0.6.0"

}

process {
    withName: fastqc {
        cpus = 6
        memory = '8 GB'
    }

    withName: minimap2 {
        cpus = 6
        memory = '10 GB'
    }

    withName: bwa_mem2 {
        cpus = 6
        memory = '10 GB'
    }

    withName: CHOPPER {
        cpus = 6
        memory = '10 GB'
    }

    withName: TRIMMOMATIC {
        cpus = 6
        memory = '10 GB'
    }
    
    withName: REMOVE_HOST_HOSTILE {
        cpus = 8
        memory = '10 GB'
    }

    withName: SEROTYPE_FROM_READS {
        cpus = 8
        memory = '10 GB'
    }

    withName: GENOTYPE_NEXTCLADE {
        cpus = 8
        memory = '10 GB'
    }

    withName: MULTIQC {
        cpus = 6
        memory = '8 GB'
    }

    withName: CREATE_FHIR {
        cpus = 6
        memory = '6 GB'
    }
    
    withName: VALIDATE_FHIR {
        cpus = 6
        memory = '6 GB'
    }

    scratch = true
}


profiles {
    standard {
        process.executor = 'local'
    }
    
    hpc {
        process.executor = 'slurm'
        process.queue = 'normal'
    }
    
    test {
        params.reads_dir = 'test_data'
        params.max_threads = 2
    }
}

docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g) --rm'
    fixOwnership = false
}

params {
    max_cpus = 8
    max_memory = '16 GB'
    max_time = '24h'
}

report {
    enabled = true
    file = "$baseDir/results/runningstat/execution.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "$baseDir/results/runningstat/timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "$baseDir/results/runningstat/dag.html"
    overwrite = true
}
